:root, .light-theme {
  --md-sys-color-primary-rgb: 0, 105, 110;
  --md-sys-color-primary: #00696E;
  --md-sys-color-on-primary-rgb: 255, 255, 255;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container-rgb: 156, 241, 246;
  --md-sys-color-primary-container: #9CF1F6;
  --md-sys-color-on-primary-container-rgb: 0, 32, 34;
  --md-sys-color-on-primary-container: #002022;
  --md-sys-color-secondary-rgb: 77, 98, 99;
  --md-sys-color-secondary: #4D6263;
  --md-sys-color-on-secondary-rgb: 255, 255, 255;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container-rgb: 204, 232, 233;
  --md-sys-color-secondary-container: #CCE8E9;
  --md-sys-color-on-secondary-container-rgb: 5, 31, 32;
  --md-sys-color-on-secondary-container: #051F20;
  --md-sys-color-tertiary-rgb: 59, 91, 122;
  --md-sys-color-tertiary: #3B5B7A;
  --md-sys-color-on-tertiary-rgb: 255, 255, 255;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container-rgb: 210, 228, 255;
  --md-sys-color-tertiary-container: #D2E4FF;
  --md-sys-color-on-tertiary-container-rgb: 0, 28, 59;
  --md-sys-color-on-tertiary-container: #001C3B;
  --md-sys-color-error-rgb: 179, 38, 30;
  --md-sys-color-error: #B3261E;
  --md-sys-color-on-error-rgb: 255, 255, 255;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container-rgb: 249, 222, 220;
  --md-sys-color-error-container: #F9DEDC;
  --md-sys-color-on-error-container-rgb: 65, 14, 11;
  --md-sys-color-on-error-container: #410E0B;
  --md-sys-color-background-rgb: 244, 251, 251;
  --md-sys-color-background: #F4FBFB;
  --md-sys-color-on-background-rgb: 22, 29, 29;
  --md-sys-color-on-background: #161D1D;
  --md-sys-color-surface-rgb: 244, 251, 251;
  --md-sys-color-surface: #F4FBFB;
  --md-sys-color-on-surface-rgb: 22, 29, 29;
  --md-sys-color-on-surface: #161D1D;
  --md-sys-color-surface-variant-rgb: 221, 228, 228;
  --md-sys-color-surface-variant: #DDE4E4;
  --md-sys-color-on-surface-variant-rgb: 63, 73, 72;
  --md-sys-color-on-surface-variant: #3F4948;
  --md-sys-color-outline-rgb: 111, 121, 121;
  --md-sys-color-outline: #6F7979;
  --md-sys-color-outline-variant-rgb: 190, 200, 200;
  --md-sys-color-outline-variant: #BEC8C8;
  --md-sys-color-shadow-rgb: 0, 0, 0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim-rgb: 0, 0, 0;
  --md-sys-color-scrim: #000000;
  --md-sys-color-inverse-surface-rgb: 43, 50, 50;
  --md-sys-color-inverse-surface: #2B3232;
  --md-sys-color-inverse-on-surface-rgb: 236, 242, 242;
  --md-sys-color-inverse-on-surface: #ECF2F2;
  --md-sys-color-inverse-primary-rgb: 128, 213, 218;
  --md-sys-color-inverse-primary: #80D5DA;
  --md-sys-color-surface-0-rgb: 244, 251, 251;
  --md-sys-color-surface-0: #F4FBFB;
  --md-sys-color-surface-1-rgb: 238, 245, 245;
  --md-sys-color-surface-1: #EEF5F5;
  --md-sys-color-surface-2-rgb: 232, 239, 239;
  --md-sys-color-surface-2: #E8EFEF;
  --md-sys-color-surface-3-rgb: 226, 234, 234;
  --md-sys-color-surface-3: #E2EAEA;
  --md-sys-color-surface-4-rgb: 221, 228, 228;
  --md-sys-color-surface-4: #DDE4E4;
  --md-sys-color-surface-5-rgb: 216, 223, 223;
  --md-sys-color-surface-5: #D8DFDF;
}

.dark-theme {
  --md-sys-color-primary-rgb: 131, 212, 216;
  --md-sys-color-primary: #83D4D8;
  --md-sys-color-on-primary-rgb: 6, 54, 57;
  --md-sys-color-on-primary: #063639;
  --md-sys-color-primary-container-rgb: 11, 79, 82;
  --md-sys-color-primary-container: #0B4F52;
  --md-sys-color-on-primary-container-rgb: 159, 240, 245;
  --md-sys-color-on-primary-container: #9FF0F5;
  --md-sys-color-secondary-rgb: 179, 203, 204;
  --md-sys-color-secondary: #B3CBCC;
  --md-sys-color-on-secondary-rgb: 29, 44, 45;
  --md-sys-color-on-secondary: #1D2C2D;
  --md-sys-color-secondary-container-rgb: 53, 74, 76;
  --md-sys-color-secondary-container: #354A4C;
  --md-sys-color-on-secondary-container-rgb: 207, 231, 232;
  --md-sys-color-on-secondary-container: #CFE7E8;
  --md-sys-color-tertiary-rgb: 165, 200, 255;
  --md-sys-color-tertiary: #A5C8FF;
  --md-sys-color-on-tertiary-rgb: 0, 50, 91;
  --md-sys-color-on-tertiary: #00325B;
  --md-sys-color-tertiary-container-rgb: 56, 72, 90;
  --md-sys-color-tertiary-container: #38485A;
  --md-sys-color-on-tertiary-container-rgb: 211, 228, 250;
  --md-sys-color-on-tertiary-container: #D3E4FA;
  --md-sys-color-error-rgb: 242, 184, 181;
  --md-sys-color-error: #F2B8B5;
  --md-sys-color-on-error-rgb: 96, 20, 16;
  --md-sys-color-on-error: #601410;
  --md-sys-color-error-container-rgb: 140, 29, 24;
  --md-sys-color-error-container: #8C1D18;
  --md-sys-color-on-error-container-rgb: 249, 222, 220;
  --md-sys-color-on-error-container: #F9DEDC;
  --md-sys-color-background-rgb: 13, 21, 21;
  --md-sys-color-background: #0D1515;
  --md-sys-color-on-background-rgb: 220, 228, 228;
  --md-sys-color-on-background: #DCE4E4;
  --md-sys-color-surface-rgb: 13, 21, 21;
  --md-sys-color-surface: #0D1515;
  --md-sys-color-on-surface-rgb: 220, 228, 228;
  --md-sys-color-on-surface: #DCE4E4;
  --md-sys-color-surface-variant-rgb: 47, 54, 54;
  --md-sys-color-surface-variant: #2F3636;
  --md-sys-color-on-surface-variant-rgb: 183, 202, 203;
  --md-sys-color-on-surface-variant: #B7CACB;
  --md-sys-color-outline-rgb: 129, 148, 149;
  --md-sys-color-outline: #819495;
  --md-sys-color-outline-variant-rgb: 57, 74, 75;
  --md-sys-color-outline-variant: #394A4B;
  --md-sys-color-shadow-rgb: 0, 0, 0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim-rgb: 0, 0, 0;
  --md-sys-color-scrim: #000000;
  --md-sys-color-inverse-surface-rgb: 220, 228, 228;
  --md-sys-color-inverse-surface: #DCE4E4;
  --md-sys-color-inverse-on-surface-rgb: 43, 50, 50;
  --md-sys-color-inverse-on-surface: #2B3232;
  --md-sys-color-inverse-primary-rgb: 0, 105, 110;
  --md-sys-color-inverse-primary: #00696E;
  --md-sys-color-surface-0-rgb: 13, 21, 21;
  --md-sys-color-surface-0: #0D1515;
  --md-sys-color-surface-1-rgb: 22, 29, 29;
  --md-sys-color-surface-1: #161D1D;
  --md-sys-color-surface-2-rgb: 26, 33, 33;
  --md-sys-color-surface-2: #1A2121;
  --md-sys-color-surface-3-rgb: 37, 43, 43;
  --md-sys-color-surface-3: #252B2B;
  --md-sys-color-surface-4-rgb: 47, 54, 54;
  --md-sys-color-surface-4: #2F3636;
  --md-sys-color-surface-5-rgb: 57, 64, 64;
  --md-sys-color-surface-5: #394040;
}