@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,400;0,800;1,100;1,400;1,700&display=swap");

/* Material Design 3 Dark Theme */
.dark {
  --md-sys-color-primary: rgb(170 199 255);
  --md-sys-color-surface-tint: rgb(170 199 255);
  --md-sys-color-on-primary: rgb(10 48 95);
  --md-sys-color-primary-container: rgb(40 71 119);
  --md-sys-color-on-primary-container: rgb(214 227 255);
  --md-sys-color-secondary: rgb(190 198 220);
  --md-sys-color-on-secondary: rgb(40 49 65);
  --md-sys-color-secondary-container: rgb(62 71 89);
  --md-sys-color-on-secondary-container: rgb(218 226 249);
  --md-sys-color-tertiary: rgb(221 188 224);
  --md-sys-color-on-tertiary: rgb(63 40 68);
  --md-sys-color-tertiary-container: rgb(87 62 92);
  --md-sys-color-on-tertiary-container: rgb(250 216 253);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(17 19 24);
  --md-sys-color-on-background: rgb(226 226 233);
  --md-sys-color-surface: rgb(17 19 24);
  --md-sys-color-on-surface: rgb(226 226 233);
  --md-sys-color-surface-variant: rgb(68 71 78);
  --md-sys-color-on-surface-variant: rgb(196 198 208);
  --md-sys-color-outline: rgb(142 144 153);
  --md-sys-color-outline-variant: rgb(68 71 78);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 226 233);
  --md-sys-color-inverse-on-surface: rgb(46 48 54);
  --md-sys-color-inverse-primary: rgb(65 95 145);
  --md-sys-color-primary-fixed: rgb(214 227 255);
  --md-sys-color-on-primary-fixed: rgb(0 27 62);
  --md-sys-color-primary-fixed-dim: rgb(170 199 255);
  --md-sys-color-on-primary-fixed-variant: rgb(40 71 119);
  --md-sys-color-secondary-fixed: rgb(218 226 249);
  --md-sys-color-on-secondary-fixed: rgb(19 28 43);
  --md-sys-color-secondary-fixed-dim: rgb(190 198 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(62 71 89);
  --md-sys-color-tertiary-fixed: rgb(250 216 253);
  --md-sys-color-on-tertiary-fixed: rgb(40 19 46);
  --md-sys-color-tertiary-fixed-dim: rgb(221 188 224);
  --md-sys-color-on-tertiary-fixed-variant: rgb(87 62 92);
  --md-sys-color-surface-dim: rgb(17 19 24);
  --md-sys-color-surface-bright: rgb(55 57 62);
  --md-sys-color-surface-container-lowest: rgb(12 14 19);
  --md-sys-color-surface-container-low: rgb(25 28 32);
  --md-sys-color-surface-container: rgb(29 32 36);
  --md-sys-color-surface-container-high: rgb(40 42 47);
  --md-sys-color-surface-container-highest: rgb(51 53 58);
}

code,
code *,
pre,
pre * {
  font-family: "JetBrains Mono", monospace;
}

/* syntax */

.highlight .hll {
  background-color: var(--md-sys-color-surface);
}
.highlight {
  color: var(--md-sys-color-on-surface);
}
.highlight .c {
  color: #008800;
  font-style: italic;
  /* background-color: #0f140f; */
} /* Comment */
.highlight .err {
  color: #ffffff;
} /* Error */
.highlight .g {
  color: #ffffff;
} /* Generic */
.highlight .k {
  color: #fb660a;
  font-weight: bold;
} /* Keyword */
.highlight .l {
  color: #ffffff;
} /* Literal */
.highlight .n {
  color: #ffffff;
} /* Name */
.highlight .o {
  color: #ffffff;
} /* Operator */
.highlight .x {
  color: #ffffff;
} /* Other */
.highlight .p {
  color: #ffffff;
} /* Punctuation */
.highlight .cm {
  color: #008800;
  font-style: italic;
  /* background-color: #0f140f; */
} /* Comment.Multiline */
.highlight .cp {
  color: #ff0007;
  font-weight: bold;
  font-style: italic;
  /* background-color: #0f140f; */
} /* Comment.Preproc */
.highlight .c1 {
  color: #008800;
  font-style: italic;
  /* background-color: #0f140f; */
} /* Comment.Single */
.highlight .cs {
  color: #008800;
  font-style: italic;
  /* background-color: #0f140f; */
} /* Comment.Special */
.highlight .gd {
  color: #ffffff;
} /* Generic.Deleted */
.highlight .ge {
  color: #ffffff;
} /* Generic.Emph */
.highlight .gr {
  color: #ffffff;
} /* Generic.Error */
.highlight .gh {
  color: #ffffff;
  font-weight: bold;
} /* Generic.Heading */
.highlight .gi {
  color: #ffffff;
} /* Generic.Inserted */
.highlight .go {
  color: var(--md-sys-color-on-surface-variant);
  background-color: var(--md-sys-color-surface-variant);
} /* Generic.Output */
.highlight .gp {
  color: #ffffff;
} /* Generic.Prompt */
.highlight .gs {
  color: #ffffff;
} /* Generic.Strong */
.highlight .gu {
  color: #ffffff;
  font-weight: bold;
} /* Generic.Subheading */
.highlight .gt {
  color: #ffffff;
} /* Generic.Traceback */
.highlight .kc {
  color: #fb660a;
  font-weight: bold;
} /* Keyword.Constant */
.highlight .kd {
  color: #fb660a;
  font-weight: bold;
} /* Keyword.Declaration */
.highlight .kn {
  color: #fb660a;
  font-weight: bold;
} /* Keyword.Namespace */
.highlight .kp {
  color: #fb660a;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #fb660a;
  font-weight: bold;
} /* Keyword.Reserved */
.highlight .kt {
  color: #cdcaa9;
  font-weight: bold;
} /* Keyword.Type */
.highlight .ld {
  color: #ffffff;
} /* Literal.Date */
.highlight .m {
  color: #0086f7;
  font-weight: bold;
} /* Literal.Number */
.highlight .s {
  color: #0086d2;
} /* Literal.String */
.highlight .na {
  color: #ff0086;
  font-weight: bold;
} /* Name.Attribute */
.highlight .nb {
  color: #ffffff;
} /* Name.Builtin */
.highlight .nc {
  color: #ffffff;
} /* Name.Class */
.highlight .no {
  color: #0086d2;
} /* Name.Constant */
.highlight .nd {
  color: #ffffff;
} /* Name.Decorator */
.highlight .ni {
  color: #ffffff;
} /* Name.Entity */
.highlight .ne {
  color: #ffffff;
} /* Name.Exception */
.highlight .nf {
  color: #ff0086;
  font-weight: bold;
} /* Name.Function */
.highlight .nl {
  color: #ffffff;
} /* Name.Label */
.highlight .nn {
  color: #ffffff;
} /* Name.Namespace */
.highlight .nx {
  color: #ffffff;
} /* Name.Other */
.highlight .py {
  color: #ffffff;
} /* Name.Property */
.highlight .nt {
  color: #fb660a;
  font-weight: bold;
} /* Name.Tag */
.highlight .nv {
  color: #fb660a;
} /* Name.Variable */
.highlight .ow {
  color: #ffffff;
} /* Operator.Word */
.highlight .w {
  color: #888888;
} /* Text.Whitespace */
.highlight .mf {
  color: #0086f7;
  font-weight: bold;
} /* Literal.Number.Float */
.highlight .mh {
  color: #0086f7;
  font-weight: bold;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #0086f7;
  font-weight: bold;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #0086f7;
  font-weight: bold;
} /* Literal.Number.Oct */
.highlight .sb {
  color: #0086d2;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #0086d2;
} /* Literal.String.Char */
.highlight .sd {
  color: #0086d2;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #0086d2;
} /* Literal.String.Double */
.highlight .se {
  color: #0086d2;
} /* Literal.String.Escape */
.highlight .sh {
  color: #0086d2;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #0086d2;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #0086d2;
} /* Literal.String.Other */
.highlight .sr {
  color: #0086d2;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #0086d2;
} /* Literal.String.Single */
.highlight .ss {
  color: #0086d2;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #ffffff;
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: #fb660a;
} /* Name.Variable.Class */
.highlight .vg {
  color: #fb660a;
} /* Name.Variable.Global */
.highlight .vi {
  color: #fb660a;
} /* Name.Variable.Instance */
.highlight .il {
  color: #0086f7;
  font-weight: bold;
} /* Literal.Number.Integer.Long */
